#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
#title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
h1 {
  font-weight: bolder;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: oblique;
}
.card {
  margin-bottom: 10px;
  flex-basis: 26%;
}
.buttons button {
  font-weight: bolder;
  color: white;
}
